[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tqdm = "*"
gymnasium = "*"
imitation = "*"
scipy = "*"
wandb = "*"

[dev-packages]
jupyter = "*"
pytest = "*"
black = "*"
isort = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
